Source: gfm
Section: math
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Andreas B. Mundt <andi@debian.org>
Build-Depends: debhelper (>= 9.0.0), libticables-dev (>= 1.2.0), libticalcs-dev (>= 1.1.0), libtifiles-dev (>= 1.1.0), libticonv-dev (>= 1.1.0), libgtk2.0-dev, libglade2-dev, zlib1g-dev, gettext, groff-base, autotools-dev, libarchive-dev
Standards-Version: 3.9.4
Homepage: http://lpg.ticalc.org/prj_gfm/
Vcs-Git: git://git.debian.org/git/debian-science/packages/gfm.git
Vcs-Browser: http://git.debian.org/?p=debian-science/packages/gfm.git

Package: gfm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: tilp2
Description: Texas Instruments hand-helds file manipulation program for X
 The GFM is an application allowing to manipulate single/group/tigroup files of
 all Texas Instruments hand-helds. It can create a new file, open an  existing
 file, save file, rename variables, remove variables, create folders, group
 files into a group/tigroup file, ungroup a group/tigroup file into single
 files.
